name: Run Standard Project Checks
on:
  push:
    branches-ignore:
      - main
      - develop


permissions:
  contents: read
  pull-requests: write
  checks: write
  
jobs:
  run-checks:
    uses: plazacraft/poweretl-pipelines/.github/workflows/code-checks.yaml@main
    with:
      python-version: '3.13'
      projects: '["utils", "defs", "common", "examples"]'
    secrets: inherit      