name: Run Standard Project Checks
on:
  push:
    branches-ignore:
      - main
      - develop


permissions:
  contents: read
  pull-requests: write
  checks: write
  
jobs:
  code-quality:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - utils
          - defs
          - common
          - databricks
          - examples

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run code quality checks for ${{ matrix.project }}
        uses:  plazacraft/poweretl-pipelines/actions/code-checks@feature/pylint
        with:
          project-path: ${{ matrix.project }}
          python-version: '3.13'
