name: Trigger Publisher on GitHub Release

on:
  # release:
    # types: [published]
  push:
    tags:
      - '*-*.*.*'
    branches:
      - main    

permissions:
  contents: write  # needed to upload release assets

jobs:
  call-publisher:
    uses: plazacraft/poweretl-pipelines/.github/workflows/publish-packages.yaml@test
    with:
      tag: ${{ github.event.release.tag_name }}
      ref: ${{ github.event.release.target_commitish }}
      environment: prd
      python-version: '3.13'
